<script type="text/javascript">
    jQuery(document).ready(function($){
        var expanded_cstm=true;
        if(window.innerWidth < 768) {
            expanded_cstm=false;
            $('html').css({'overflow':'hidden'});
        }
        var filterMenu = [["Введен в эксплуатацию", "/stroika/map/legend1.png", true],
            ["Проблемный объект (обманутые дольщики)", "/stroika/map/legend2.png", true],
            ["Заморожен", "/stroika/map/legend3.png", true],
            ["Объект незаконного строительства", "/stroika/map/legend4.png", true],
            ["Не начато строительство", "/stroika/map/legend5.png", true],
            ["Положительная динамика", "/stroika/map/legend6.png", true],
            ["Нет динамики", "/stroika/map/legend7.png", true],
            ["Динамика не указана", "/stroika/map/legend8.png", true],
            ["Есть видеотрансляция", "/stroika/map/video.png", true],
            ["Видеотрансляция отсутствует", "/stroika/map/novideo.png", true],
        ]

        var countAll = 0;
        var orgList = [];
        var summPlannedEstimateAmount = 0;

        ymaps.ready(init);
        $('#YMapsID').css({'height':($(window).outerHeight()-$('#containerYMapsID')[0].offsetTop)+'px'});
        $( window ).resize(function() {
            $('#YMapsID').css({'height':($(window).outerHeight()-$('#containerYMapsID')[0].offsetTop)+'px'});
        });
        /*ymaps.ready(function () {
            init();
            console.log($(window).outerHeight());
            console.log($('#containerYMapsID')[0].offsetTop);
            $('#YMapsID').css({'height':($(window).outerHeight()-$('#containerYMapsID')[0].offsetTop)+'px'});
            $( window ).resize(function() {
                $('#YMapsID').css({'height':($(window).outerHeight()-$('#containerYMapsID')[0].offsetTop)+'px'});
            });
        });*/
        function init() {
            var defCenter = [54.76161, 56.02111];
            var defZoom = 12;

            ListBoxLayout = ymaps.templateLayoutFactory.createClass(
                "<button class='my-listbox-header btn btn-success dropdown-toggle' data-toggle='dropdown'>" +
                "{{data.title}} <span class='caret {% if state.expanded %}caret-up{% else %}{% endif %}'></span>" +
                "</button>" +
                "<div id= 'my-listbox'" +
                " class='legend2 container' role='menu' aria-labelledby='dropdownMenu'" +
                " style='display: {% if state.expanded %}block{% else %}none{% endif %};'></div>", {

                    build: function () {
                        // Вызываем метод build родительского класса перед выполнением
                        // дополнительных действий.
                        ListBoxLayout.superclass.build.call(this);

                        this.childContainerElement = $('#my-listbox').get(0);
                        // Генерируем специальное событие, оповещающее элемент управления
                        // о смене контейнера дочерних элементов.
                        this.events.fire('childcontainerchange', {
                            newChildContainerElement: this.childContainerElement,
                            oldChildContainerElement: null
                        });
                    },

                    // Переопределяем интерфейсный метод, возвращающий ссылку на
                    // контейнер дочерних элементов.
                    getChildContainerElement: function () {
                        return this.childContainerElement;
                    },

                    clear: function () {
                        // Заставим элемент управления перед очисткой макета
                        // откреплять дочерние элементы от родительского.
                        // Это защитит нас от неожиданных ошибок,
                        // связанных с уничтожением dom-элементов в ранних версиях ie.
                        this.events.fire('childcontainerchange', {
                            newChildContainerElement: null,
                            oldChildContainerElement: this.childContainerElement
                        });
                        this.childContainerElement = null;
                        // Вызываем метод clear родительского класса после выполнения
                        // дополнительных действий.
                        ListBoxLayout.superclass.clear.call(this);
                    }
                });

            ListBoxItemLayout = ymaps.templateLayoutFactory.createClass(
                '<div class="row">' +
                '<div class="col-xs-1 col-md-1 hidden-xs"><img style="cursor: pointer; width: 25px" src="{{data.image}}"></div>' +
                '<div class="col-xs-8 col-md-9 {% if state.selected %}row-check{% else %}row-nocheck{% endif %}">{{data.content}}</div></div>'
            );


            var myMap = new ymaps.Map('YMapsID', {
                center: defCenter,
                zoom: defZoom,
                controls: [],
            });

            myMap.controls.add('searchControl', {
                position: {
                    top: 50,
                    left: 20
                }
            })
                .add('typeSelector', {
                    position: {
                        top: 90,
                        left: 20
                    }
                });

            var objectManager = new ymaps.ObjectManager({
                //    // Чтобы метки начали кластеризоваться, выставляем опцию.
                clusterize: true,
                //    // ObjectManager принимает те же опции, что и кластеризатор.
                //    gridSize: 32,
                //    // Макет метки кластера pieChart.
                clusterIconLayout: "default#pieChart"
            });

            myMap.geoObjects.add(objectManager);

            var listBoxItems = filterMenu.map(function (title) {
                return new ymaps.control.ListBoxItem({
                    data: {
                        content: title[0],
                        image: title[1],
                    },
                    state: {
                        selected: title[2]
                    }
                })
            });

            var filterListControl = new ymaps.control.ListBox({
                data: {
                    title: 'Фильтр'
                },
                items: listBoxItems,
                state: {
                    expanded: expanded_cstm,
                    filters: listBoxItems.reduce(function (filters, filter) {
                        var preset = filter.data.get('content');
                        filters[preset] = filter.isSelected();
                        return filters;
                    }, {})
                },
                options: {
                    layout: ListBoxLayout,
                    itemLayout: ListBoxItemLayout,
                    collapseOnBlur: false
                },
            });



            myMap.controls.add(filterListControl, {
                position: {
                    top: 90,
                    right: 25
                }
            });


            filterListControl.events.add(['select', 'deselect'], function (e) {
                var listBoxItem = e.get('target');
                var filters = ymaps.util.extend({}, filterListControl.state.get('filters'));
                var content = listBoxItem.data.get('content');
                if (content) {
                    filters[content] = listBoxItem.isSelected();
                }
                filterListControl.state.set('filters', filters);
            });

            var filterMonitor = new ymaps.Monitor(filterListControl.state);
            filterMonitor.add('filters', function (filters) {
                // Применим фильтр.
                objectManager.setFilter(getFilterFunction(filters));
            });

            function getFilterFunction(filters) {
                return function (obj) {
                    var stage = obj.properties.Stage;
                    var video = obj.properties.Video;
                    var res = filters[stage] && filters[video];
                    return res;
                }
            }
            $('#loading').show();


            var formDataSubmit = new FormData();
            formDataSubmit.append("sessid",'d36e9a5955c8a612cd166c61a251e8fc');
            formDataSubmit.append("secret",'valueOKS');
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/stroika/map/ajax.php", true);
            xhr.onreadystatechange = function () {
                if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
                    //console.log(xhr);
                    objectManager.add(data);
                    filterListControl.events.fire('select');
                    $('#loading').hide();
                }
            };
            xhr.send(formDataSubmit);

        };
    });

</script>